{% extends 'modal-layout.html.twig' %}

{% block title %}添加分享链接{% endblock %}
{% block main %}

<form id="add-link-form" class="form-horizontal" action="{{ path('add_link') }}" method="post">

  <div class="form-group">
    <label class="col-sm-3 control-label" for="field-url">链接</label>
    <div class="col-sm-6 controls">
      <input id="field-url" class="form-control" type="text" name="url" value="">
    </div>
  </div>
  <div id="ajax-data"></div>
 
  <div class="modal-footer">
    <button class="btn btn-link" data-dismiss="modal">取消</button>
    <button class="btn btn-primary" type="submit">保存</button>
  </div>
</form>

<script> app.load('link/add-link'); </script>

{% endblock %}